body {
  //   background-color: black;
  background-color: black;
}
a {
  text-decoration: none;
}
img {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  height: 45vh;
  object-fit: cover;
  @media screen and (min-width: 768px) {
    height: 393px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 20px;
  }
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  position: relative;
  box-sizing: border-box;
  width: 300px;
  height: 90vh;
  margin: auto;
  @media screen and (min-width: 768px) {
    display: flex;
    width: 80vw;
    height: 393px;
  }
}
.photo__box {
  width: 300px;
  height: 45vh;
  @media screen and (min-width: 768px) {
    width: 400px;
    height: 395px;
  }
}
.about__box {
  width: 100%;
  height: 45vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    height: 100%;
  }
}
.about__box > div {
  height: 22.5vh;
  display: flex;
  @media screen and (min-width: 768px) {
    width: 100%;
    height: 100%;
  }
}
.about__me {
  background-color: black;
  flex-direction: column;
  justify-content: space-around;
}
.social_media {
  background-color: black;
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  @media screen and (min-width: 768px) {
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
  }
}
.social_media > div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.box:before,
.box:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(
    45deg,
    red,
    rgb(255, 94, 0),
    rgb(255, 230, 0),
    rgb(187, 255, 0),
    rgb(34, 255, 0),
    rgb(0, 255, 187),
    rgb(0, 204, 255),
    rgb(0, 26, 255),
    rgb(111, 0, 255),
    rgb(204, 0, 255),
    rgb(255, 0, 230),
    rgb(255, 0, 93),
    rgb(255, 0, 68),
    red,
    rgb(255, 94, 0),
    rgb(255, 230, 0),
    rgb(187, 255, 0),
    rgb(34, 255, 0),
    rgb(0, 255, 187),
    rgb(0, 204, 255),
    rgb(0, 26, 255),
    rgb(111, 0, 255),
    rgb(204, 0, 255),
    rgb(255, 0, 230),
    rgb(255, 0, 93),
    rgb(255, 0, 68)
  );
  background-size: 200%;
  border-radius: 20px;
  z-index: -1;
  animation: anim 20s linear infinite;
  width: 300px;
  height: 90vh;
  @media screen and (min-width: 768px) {
    width: 100%;
    height: 393px;
  }
}

@keyframes anim {
  0% {
    background-position: 300% 0;
  }
  50% {
    background-position: 0 0;
  }
  100% {
    background-position: 300% 0;
  }
}

.box:after {
  filter: blur(30px);
}
.about__box a,
.about__box p,
svg {
  animation: draw 20s infinite;
}
/* stroke-dasharray: 10; */

@keyframes draw {
  0% {
    color: rgb(255, 0, 0);
    fill: rgb(255, 0, 0);
  }
  10% {
    color: rgb(255, 94, 0);
    fill: rgb(255, 94, 0);
  }
  20% {
    color: rgb(255, 230, 0);
    fill: rgb(255, 230, 0);
  }
  30% {
    color: rgb(34, 255, 0);
    fill: rgb(34, 255, 0);
  }
  40% {
    color: rgb(0, 204, 255);
    fill: rgb(0, 204, 255);
  }
  50% {
    color: rgb(0, 26, 255);
    fill: rgb(0, 26, 255);
  }
  60% {
    color: rgb(111, 0, 255);
    fill: rgb(111, 0, 255);
  }
  70% {
    color: rgb(204, 0, 255);
    fill: rgb(204, 0, 255);
  }
  80% {
    color: rgb(255, 0, 230);
    fill: rgb(255, 0, 230);
  }
  90% {
    color: rgb(255, 0, 179);
    fill: rgb(255, 0, 179);
  }
  100% {
    color: rgb(255, 0, 68);
    fill: rgb(255, 0, 68);
  }
}
